/* for the container */
.container{
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
    background-color:#0a1f3d ;
    flex-direction: row;
}
/* for the logo */
.login-card{
    flex:1;
    background: linear-gradient(to bottom right, #0a1f3d ,#1e3c72);
    display :flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
    z-index: 1;
}
.logo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* background: linear-gradient(to bottom right, #00bfff,#00ffff);  */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem ;
    font-weight: bold;
    z-index: 2;
    color: #fff;
}
.login-card::after{
    content:'';
    position: absolute;
    top: 0;
    right: -60px;
    width: 120px;
    height: 100%;
    background-color: #fff;
    clip-path: ellipse(60% 100% at 0% 50%);
    z-index: 0;

}
.login-card h2{
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    z-index: 2;
}
/* for left form */
.submit-form{
    flex:1;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 4rem;
    z-index:2;

}
.submit-form h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.submit-form p{
    font-size: 1rem;
    margin-bottom: 2rem;
}
input[type="email"],input[type="password"],input[type="text"]{
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
label{
    display: flex;
    align-items:center;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
}
input[type="checkbox"]{
    margin-right: 0.5rem;
}
.or{
    text-align: center;
}
.login{
    background-color: #007bff;
    color:#fff;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login:hover{
    background-color: #0056b3;
}
.buttons{
    display: flex;
    gap:0.75rem;
    margin-top: 1rem;
}
.buttons button{
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: box-shadow 0.3s ease;
    color: #000;
}
.buttons button:hover{
    box-shadow:0 0 8px rgba(0,0,0,0.1);
}
.googleicon,.microsofticon{
    margin-right: 0.5rem;
}
